header {
    background: none repeat scroll 0 0 #525D76;
    color: white;
    font-size: 20px;
    padding: 5px 20px;
}
section {
    width: 900px;
    margin: auto;
}
footer {
    background: none repeat scroll 0 0 #525d76;
    color: white;
    font-size: 20px;
    padding: 5px 20px;
    margin: 20px 0;
}
#footer a{
    color: #cecece;
}

h2, h3 {
    margin: 13px 0 2px;
}

li {
    margin: 15px 0;
}
a[href^="skype:"] {
    padding-left: 20px !important;
    background: url(../img/skype.png) no-repeat center left;
}

a[href^="mailto:"] {
    padding-left: 20px !important;
    background: url(../img/email.png) no-repeat center left;
}

a[href^="https://stackoverflow.com"] {
    padding-left: 20px !important;
    background: url(../img/so.png) no-repeat center left;
}

a[href^="https://www.linkedin.com"] {
    padding-left: 20px !important;
    background: url(../img/lin.png) no-repeat center left;
}

a[href*="github."] {
    padding-left: 20px !important;
    background: url(../img/gh.png) no-repeat center left;
}